In [137]:
import serial as ser
import pandas as pd
import numpy as np
import time

PORT = "/dev/cu.usbmodem14203"

all_data = []

In [151]:
my_ser_port = ser.Serial(PORT, 115200, timeout=0.1)
serial_cmd = "r"
encoded_cmd = serial_cmd.encode()

encoded_cmd

b'r'

In [221]:
def request_data():
    my_ser_port.write(encoded_cmd)
    
    serial_obj = my_ser_port.readline()
    # Poll the serial port
    line = str(serial_obj, 'utf-8')
    
    return line

In [447]:
print(request_data())

-0.149999' -0.068137' -0.975085' 0.595000' -0.026250' 2.135000' -0.778720' 0.425314' -0.217042' -175.841064' 7.827876' 149.732895' 0.014759' -0.005438' -0.011217

In [1261]:
serialport = ser.Serial(PORT, 115200, timeout=0.1)

def get_data():
    global serialport
    
#         serialport.readline()
    serial_obj = serialport.readline()
    # Poll the serial port
    line = str(serial_obj, 'utf-8')
    ls = line.replace("\r\n", "").split("' ")
    
    if (len(ls) != 15):
        serial_obj = serialport.readline()
        # Poll the serial port
        line = str(serial_obj, 'utf-8')
        ls = line.replace("\r\n", "").split("' ")
    return np.array(ls, dtype=float)
    print(ls)

In [1345]:
get_data()

array([-2.25700000e-02,  4.51400000e-03,  1.00942800e+00, -4.28750000e-01,
       -5.68750000e-02, -1.05000000e-01, -5.77024000e-01,  4.06310000e-02,
       -2.80181000e-01, -1.09187000e+00,  1.00338000e+00, -1.76698441e+02,
        3.79700000e-03, -1.82160000e-02,  1.44110000e-02])

In [1346]:
np_array_all = np.array([])
df_to_convert = pd.DataFrame({"x_xl": [0.0], "y_xl": [0.0], "z_xl": [0.0], 
                              "x_gr": [0.0], "y_gr": [0.0], "z_gr": [0.0], 
                              "x_mg": [0.0], "y_mg": [0.0], "z_mg": [0.0], 
                              "orient_roll": [0.0], "orient_pitch": [0.0], "orient_yaw": [0.0], 
                              "pos_x": [0.0], "pos_y": [0.0], "pos_z": [0.0],
                              "timestamp": [0]})
# df_to_convert.columns = ["x_xl", "y_xl", "z_xl", "x_gr", "y_gr", "z_gr", "x_mg", "y_mg", "z_mg", "orient_roll", "orient_pitch", "orient_yaw", "pos_x", "pos_y", "pos_z"]

In [1347]:
df_to_convert

,x_xl,y_xl,z_xl,x_gr,y_gr,z_gr,x_mg,y_mg,z_mg,orient_roll,orient_pitch,orient_yaw,pos_x,pos_y,pos_z,timestamp
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [1021]:
def add_rows_to_df():
    global np_array_all
    #Time in seconds since the epoch
    time_stamp = time.time_ns()
    ls = get_data()
    ls = np.append(ls, time_stamp)
    
    if len(np_array_all) == 0:
        np_array_all = np.array(ls)
        df_to_convert.loc[len(df_to_convert.index)] = ls
        df_to_convert.loc[len(df_to_convert.index)-1]["timestamp"] = time_stamp

        
    else:
        np_array_all = np.vstack((np_array_all, ls))
        df_to_convert.loc[len(df_to_convert.index)] = ls
        df_to_convert.loc[len(df_to_convert.index)-1]["timestamp"] = time_stamp

In [1032]:
add_rows_to_df()

In [1033]:
df_to_convert

,x_xl,y_xl,z_xl,x_gr,y_gr,z_gr,x_mg,y_mg,z_mg,orient_roll,orient_pitch,orient_yaw,pos_x,pos_y,pos_z,timestamp
0,0.000000,0.00000,0.000000,0.000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
1,-0.022997,-0.00427,1.018395,-0.525,-0.223125,-0.09625,-0.574978,0.040339,-0.290704,-1.112876,1.012473,-176.690598,0.005887,-0.015195,0.019028,1.667973e+18

In [1348]:
def loop_func():
    while(1):
        add_rows_to_df()

In [1349]:
loop_func()

ValueError: could not convert string to float: '-0..579070'

In [1350]:
df_to_convert

,x_xl,y_xl,z_xl,x_gr,y_gr,z_gr,x_mg,y_mg,z_mg,orient_roll,orient_pitch,orient_yaw,pos_x,pos_y,pos_z,timestamp
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
1,-0.020252,0.001159,1.018761,-0.030625,-0.161875,0.061250,-0.591932,0.040924,-0.276089,-1.091668,1.002285,-176.696381,0.002480,-0.021268,0.013595,1.667973e+18
2,-0.025376,-0.005429,1.022787,-0.660625,-0.175000,0.091875,-0.576440,0.038293,-0.276673,-1.090887,1.001808,-176.687912,0.010106,-0.032816,0.018251,1.667973e+18
3,-0.022692,0.007686,1.013820,-0.503125,-0.253750,0.035000,-0.583747,0.036539,-0.274773,-1.093153,1.007423,-176.693359,0.006421,-0.018685,0.010194,1.667973e+18
4,-0.020008,0.001098,1.013759,-0.210000,-0.021875,-0.043750,-0.581117,0.038585,-0.282958,-1.092759,1.002304,-176.695129,0.003450,-0.020266,0.014242,1.667973e+18
5,-0.020679,0.002989,1.026325,-0.748125,-0.100625,0.035000,-0.577609,0.036247,-0.278427,-1.093132,1.002410,-176.693085,0.004023,-0.022373,0.026785,1.667973e+18
6,-0.025254,-0.003904,1.016687,-0.227500,-0.140000,-0.008750,-0.583747,0.044139,-0.286904,-1.092437,0.999692,-176.694382,0.008394,-0.015021,0.017357,1.667973e+18
7,-0.028426,0.006527,1.006683,-0.730625,-0.140000,-0.021875,-0.576732,0.043262,-0.271120,-1.090975,1.002596,-176.686829,0.012280,-0.025025,0.007209,1.667973e+18
8,-0.027755,-0.002440,1.012173,-0.402500,-0.166250,-0.008750,-0.583455,0.048524,-0.273312,-1.090876,1.005937,-176.676346,0.010943,-0.016223,0.012859,1.667973e+18
9,-0.024339,0.002318,1.013515,-0.481250,-0.140000,-0.035000,-0.586671,0.041216,-0.267758,-1.086449,1.006385,-176.679367,0.007775,-0.021119,0.014053,1.667973e+18
10,-0.021899,0.000000,1.021567,-0.428750,-0.048125,0.083125,-0.586378,0.038293,-0.274773,-1.090212,1.005316,-176.676208,0.005096,-0.019173,0.022106,1.667973e+18
11,-0.022265,-0.005429,1.022665,-0.538125,-0.078750,-0.013125,-0.577609,0.037124,-0.273458,-1.089009,1.004274,-176.684341,0.005142,-0.013734,0.023314,1.667973e+18
12,-0.024705,0.005185,1.019615,-0.651875,-0.210000,0.061250,-0.579363,0.041216,-0.270535,-1.086142,1.006519,-176.679947,0.008143,-0.024080,0.020105,1.667973e+18
13,-0.025681,0.002013,1.016870,-0.665000,-0.258125,-0.126875,-0.570593,0.034785,-0.285881,-1.086627,1.007626,-176.676346,0.006663,-0.011919,0.024842,1.667973e+18
14,-0.021228,0.000244,1.022299,-0.577500,-0.153125,-0.008750,-0.585794,0.042385,-0.276235,-1.090248,1.008979,-176.676254,0.007965,-0.019646,0.023611,1.667973e+18
15,-0.019398,-0.004331,1.019310,-1.382500,-0.236250,0.070000,-0.580824,0.038878,-0.287781,-1.087658,1.012623,-176.674561,0.004144,-0.025817,0.010971,1.667973e+18